extends layout

block content
  h1= title
  -var results = [`legume_type`, `amount`, `price`]
  div(class="container-fluid")
    div(class="row")
    each item,index in results
      div(class="col-sm-2") Object #{index+1}: #{item}